.car-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.car-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.car-card-image {
  width: 100%;
  height: auto;
}

.car-card-name {
  margin: 20px 0;
  font-size: 24px;
}

.car-card-info {
  color: #666;
  margin-bottom: 20px;
}

.car-card-price {
  font-size: 24px;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.car-card-button {
  background-color: rgb(226, 82, 82);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.car-card-button:hover {
  background-color: #d4e04a;
}
